[submodule "first-party/logger"]
	path = first-party/logger
	url = git@github.com:neapu/logger.git
[submodule "first-party/LibAudio"]
	path = first-party/LibAudio
	url = git@github.com:neapu/LibAudio.git
